*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    /* height: 100%; */
   

}
.main-cont{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 30px;
    /* background : linear-gradient(blue ,green) */
    /* background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%); */
    /* background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%); */
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}
.h1-style{

    letter-spacing: 10px;
    color: rgba(39, 6, 251, 0.963);
}
.to-do-cont{

    width: 75%;
    padding: 20px;
    /* font-size: 30px; */
    /* border: solid black 1px; */
}
.list-cont{

    padding: 15px;
    list-style: none;
    /* border: solid  black 1px; */
    display: flex;
    align-items: center;
}
.label-cont{

    padding: 10px;
    width: 80%;
    border-radius: 15px;
    background-color: rgb(90, 211, 244);
    border-left: solid 5px  rgb(72, 142, 161) ;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.delete-btn{
    border: none;
    background: transparent;
}

.checked{
    text-decoration: line-through;
}